.elementor-149 .elementor-element.elementor-element-533f653{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-149 .elementor-element.elementor-element-ef6dc4d.elementor-position-right .elementor-image-box-img{margin-left:15px;}.elementor-149 .elementor-element.elementor-element-ef6dc4d.elementor-position-left .elementor-image-box-img{margin-right:15px;}.elementor-149 .elementor-element.elementor-element-ef6dc4d.elementor-position-top .elementor-image-box-img{margin-bottom:15px;}.elementor-149 .elementor-element.elementor-element-ef6dc4d .elementor-image-box-wrapper .elementor-image-box-img{width:30%;}.elementor-149 .elementor-element.elementor-element-ef6dc4d .elementor-image-box-img img{transition-duration:0.3s;}.elementor-149 .elementor-element.elementor-element-ef6dc4d .elementor-image-box-title{color:#000000;}.elementor-149 .elementor-element.elementor-element-ef6dc4d .elementor-image-box-description{color:#000000;}.elementor-149 .elementor-element.elementor-element-83f8edc .elementor-button{background-color:#000000;}body.elementor-page-149:not(.elementor-motion-effects-element-type-background), body.elementor-page-149 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFEC00;}@media(max-width:767px){.elementor-149 .elementor-element.elementor-element-533f653{--min-height:540px;--justify-content:center;}.elementor-149 .elementor-element.elementor-element-ef6dc4d .elementor-image-box-img{margin-bottom:15px;}.elementor-149 .elementor-element.elementor-element-83f8edc .elementor-button{border-radius:10px 10px 10px 10px;}}/* Start custom CSS for button, class: .elementor-element-83f8edc */.x{
    animation: pulse .9s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
		
	}

	100% {
		transform: scale(0.95);
		
	}
}/* End custom CSS */
/* Start custom CSS */}

/*Remover espaço em textos*/
p:last-child{
    margin-bottom: 0px !important;
}

.elementor-heading-title{
    margin-bottom: 0px !important;
}

.elementor-image-box-title{
    margin-top: -8px!important;
}


/*Remover scroll horizontal*/
html, body{
    width: 100%;
    overflow-x: hidden !important;
}/* End custom CSS */